html
{
    background-color: #f7f6d5;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
body {
    position:relative;
    margin: 0px;
}

/* top bar */
#top-bar{
    /* background-color: #000000; */    
    display:flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: flex-end;
    width:auto;
    /* border-style: solid;
    border-bottom: #2a801f; */
}
.page-link{
    margin: 1%;
    padding: 20px;  
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-delay: 0.05s;
}
.page-link:hover{
    background-color: rgb(48, 116, 175);
}

/* banner area */
#banner-area{
    position:absolute;
    background: black;
    margin-right: 10%;
    margin-left: 10%;
    height:300px;
    width:80%;
}
.banner{
    height: 300px;  
    width:100%;
}
.hide{
    opacity:0%;
}
#banner1{
    position:absolute;
    background-color:green;
    z-index: 2;
}
#banner2{
    position:absolute;
    background-color:yellow;
    z-index: 3;
}
#banner3{
    position:absolute;
    background-color:red;
    z-index: 4;
}